.igraphic-graphic.graphic {

	.buildings {

		width: 100%;

		margin-left: auto;
		margin-right: auto;

		.building {
			width: 260px;
		}

		.building {
			.inner {

				.name {
					span {
						font-family: $sansSerifStrong;
						@include adjust-font-size-to($s5);
						@include adjust-leading-to(1);
					}
				}

				.comment {
					span {
						font-family: $sansSerif;
						@include adjust-font-size-to($s3p5);
					}
				}

				.cost {
					span {
						font-family: $sansSerifStrong;
						@include adjust-font-size-to($s3);
					}
				}

				.size {
					span {
						font-family: $sansSerifStrong;
						@include adjust-font-size-to($s3);
					}
				}

				.neighborhood {
					span {
						font-family: $sansSerifStrong;
						@include adjust-font-size-to($s3);
					}
				}

				a.storylink {
					text-transform: uppercase;
					font-family: $sansSerifStrong;
					color: #59889d;
					padding-left: 0.5em;
					@include adjust-font-size-to($s3);
				}

				@include trailing-border();
				border-color: #e2e2df;
				border-width: 1px;
				@include rhythm(0, 0, 1, 2);
			}
		}
	}
}


























